html
{ height: 100%; }

*
{ margin: 0;
  padding: 0; }

body
{ font-family: Trebuchet MS;
  font-size: 1rem;
  background-position: left top;
  color: #000000; }

table tr td
{
  font-family: Trebuchet MS;
  font-size: 1rem; }

table tr td a
{
  font-family: Trebuchet MS;
  font-size: 1rem; }
  
img
{ border: 0; }

h1, h2, h3, h4, h5, h6 
{ margin-bottom:1.00vh;
  margin-top:1.25vh;
  padding:0;
  color: #000000; 
  font-weight: bold; }

h1
{ font-size: 140% }
  
h2
{ font-size: 140% }

h3
{ font-size: 140% }

a
{ outline: none;
  text-decoration: underline;
  color: #A4AA04;
  font-size: 1rem; }

ul
{ list-style-position: outside; }

ul li
{ list-style-type: disc;
  margin: 0.5vh 0 0.5vh 2vw; /* top right bottom left */
  padding: 0 0 0 0; }

#header
{ width: 100%;
  text-align: center; }

#header h1
{ font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none; 
  margin-bottom:1.0vh;
  margin-top:1.0vh; }

#header h2
{ font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none; 
  margin-bottom:1.0vh;
  margin-top:1.0vh; }
  
#menubar
{ margin: 0 0 0 1.5vw; } /* top right bottom left */

ul#menu
{ font-size: 1.1rem; }

ul#menu li
{ font-size: 1.1rem;
  float: left;
  padding: 0;
  list-style: none;
  margin: 0; }

ul#menu li a
{ 
  font-size: 1.1rem;
  float: left;
  padding: 1vh 1vw 1vh 1vw; /* top right bottom left */
  text-align: center;
  color: #000;
  text-decoration: none;
  background: #E0E0E0; } 

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #F6F6F6;
  color: #0000A8; }

ul#menu li a:hover
{ color: #FF00FF; }

#site_content
{ width: 88%;
  overflow: hidden; /* (specifies whether to clip content or to add scrollbars when the content of an element is too big to fit in a specified area) */
  margin: 0 0 0 1.5vw; /* top right bottom left */
  padding: 1vh 1vw 2vh 1vw; /* top right bottom left */
  background: #F6F6F6;
  border: 0; } 

#content
{ width: 75%;
  text-align: left;
  padding: 0; }
  
.sidebar
{ float: right;
  width: 20%;
  padding: 1vh 1vw 1vh 1vw; /* top right bottom left */
  background-color: #E0E0E0; 
  font-size: 0.85rem; } 

.sidebar ul
{ list-style-position: outside; }

.sidebar li
{ list-style: none; 
  padding: 0; 
  font-size: 0.85rem; }  

.sidebar ul li a
{ font-size: 0.85rem; }  

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 25px;
  display: block;
  background: transparent url(link.png) no-repeat left center; } 

#footer
{ height: 4.44vh;
  text-align: center; 
}

#footer a, #footer a:hover
{ color: #111;
  text-decoration: underline; }

#footer a:hover
{ text-decoration: none; }

#footer p
{ line-height: 22px;
  padding: 0; }
  
.loading /* (used during page loading) */
{ position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index:11111;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 25.0vh;
  color: #fff;
}  